#{extends 'main.html' /}
#{set title: 'Cadastro de Categoria - OnLibrary' /}

<div class="cadastro">
	<h1>CADASTRO</h1>
	<br />
	<form action="@{Cadastros.salvarCategoria}" method="post">
		<input type="hidden" name="categoria.id" value="${categoria?.id}" /> 
		
		<span class="erros">#{error 'categoria.categoria' /}</span>
		<input type="text" name="categoria.categoria" value="${categoria?.categoria}" 
			placeholder="Categoria" class="form-control" />
		<br />
		
		<div class="d-grid gap-2">
			<input type="submit" value="Salvar" class="btn btn-primary" />
		</div>
	</form>
</div>