#{extends 'main.html' /}
#{set title:'Login de Usuário' /}

<div class="cadastro">
	<br>
	<h2>LOGIN</h2>
	<br />
	<form action="@{Logins.login}" method="post">
		
		<label>Nome de usuário</label>	
		<input type="text" name="nome" class="campotexto" /> <br />
		
		<input type="password" name="senha" class="campotexto" /> <br /> 
		
		<input type="submit" value="Entrar" class="link" /> <br /> <br /> <br />
		
		<p style="font-size: 15px;">Novo na OnLib? Cadastre-se clicando
			<a style="font-size: 15px; color: green" href="@{Usuarios.cadastrar}">aqui</a>
		</p>
	</form>
</div>