#{extends 'main.html' /}
#{set title:'Login - OnLibrary' /}

<div class="cadastro">
	<br />
	<h1>Login</h1>
	<br />
	<form action="@{Logins.logar}" method="post">
		
		<input type="text" name="nome" placeholder="Nome" class="form-control" /> <br />
		
		<input type="password" name="senha" placeholder="Senha" class="form-control" /> <br />
		
		<p style="font-size: 15px; padding: 0px; margin-left: 4px;">Esqueceu sua senha? 
			<a style="font-size: 15px; text-decoration: none;" href="#">Clique aqui.</a>
		</p> <br /> 
		
		<div class="d-grid gap-2">
			<input type="submit" value="Entrar" class="btn btn-primary" /> <br /> <br />
		</div>
	</form>
</div>