/*GERAL*/

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/*CONTEÚDO DA PÁGINA INICIAL*/

.container {
	width: 100%;
	min-height: 100vh;
	display: block;
	align-items: center;
	justify-content: center;
	
}

/*LISTAS*/

tr {
	text-align: center;
	text-decoration: none;
}

/*NAVEGAÇÃO*/

.nav-item {
	margin-left: 30px;
}

/*FORMULÁRIOS*/

.cadastro {
	width: 400px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
}

/*BOTÃO DE DOWNLOAD DE PDF*/

.pdf {
	font-size: 16px;
	background-color: rgb(255, 66, 104);
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid rgb(255, 66, 104);
	border-left: 10px solid rgb(252, 115, 142);
	transition: all 0.25s ease-in-out;
}

.pdf:hover {
	color: rgb(255, 66, 104);
	background-color: white;
}

/*RODAPÉ*/

.rodape {
    bottom: 0;
	position: absolute;
	width: 100%;
	height: 160px;
	text-align: center;
	justify-content: space-between;
	padding: 50px;
}

/*LOGO DA ONLIB*/

.logo a:hover {
	color: rgb(233, 233, 233);
}

#logoImagem {
	width: 30px;
	height: 30px;
}

/*MENSAGENS FLASH*/

