#{extends 'main.html' /}
#{set title:'Edição de Usuário - OnLibrary' /}

<div class="cadastro">
	<br />
	<h1>Edição</h1>
	<br />
	<form action="@{Cadastros.salvar}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="usuario.id" value="${usuario?.id}" /> 
		
		<select class="form-select" aria-label="Default select example" name="usuario.tipo">
			  <option>-- Tipos --</option>
			  #{list items: tipos, as:'t'}
			  <option #{if usuario?.tipo == t.toString()} selected #{/if}>${t}</option>
			  #{/list}
		</select>
		<br /> <br />
		
		<div class="d-grid gap-2">
			<input type="submit" value="Salvar" class="btn btn-primary" />
		</div>
	</form>
</div>