#{extends 'main.html' /}
#{set title:'Listagem de usuários - OnLibrary' /}

<div class="container">
	<br />
	<h1 style="text-align: center">Usuários</h1>
	<br />
	
	<form action="@{Usuarios.listar}">
		<div class="input-group mb-3">
		  <input type="text" class="form-control" name="termo" placeholder="Pesquise aqui" aria-label="Recipient's username" aria-describedby="button-addon2">
		  <input class="btn btn-outline-secondary" value="Pesquisar" type="submit" id="button-addon2" />
		</div>
	</form>
	
	
	<table class="table table-striped table-hover">
		<thead>
		 	<tr>
	      		<th>Nome</th>
	      		<th>Email</th>
	      		<th>Ações</th>
	      	</tr>
		</thead>
		<tbody>
			#{list items: usuario, as:'usuario'}
			<tr>
	      		<td>${usuario.nome}</td>
	      		<td>${usuario.email}</td>
	      		<td>
	      			<a href="@{Usuarios.detalhar(usuario.id)}" class="btn btn-secondary">Detalhar</a>
	      			<a href="@{Usuarios.adminEditar(usuario.id)}" class="btn btn-secondary">Editar</a>
	      			<a href="@{Usuarios.remover(usuario.id)}" class="btn btn-danger">Remover</a>
	      		</td>
	      	</tr>
	      	#{/list}
		</tbody>
	</table>
	<div class="d-grid gap-2">
		<a href="@{Cadastros.cadastrar}" class="btn btn-secondary">Adicionar novo usuário no sistema</a>
	</div>
</div>