#{extends 'main.html' /}
#{set title:'Listagem de Usuários' /}

<div class="container">
	<h1>Lista de Usuários</h1>
	
	<form action="@{Usuarios.listar}">
		<div class="row">
			<div class="col-10">
				<input style="width: 940px;" type="text" name="termo" placeholder="Pesquise aqui" class="form-control" />
			</div>
			<input style="width: 130px; margin-left: 50px" type="submit" value="Pesquisar" class="link" />
		</div>
	</form>
	
	
	<table class="table table-striped table-hover">
		<thead>
		 	<tr>
	      		<th>Nome</th>
	      		<th>Email</th>
	      		<th>Ações</th>
	      	</tr>
		</thead>
		<tbody>
			#{list items:usuario, as:'usuario'}
			<tr>
	      		<td>${usuario.nome}</td>
	      		<td>${usuario.email}</td>
	      		<td>
	      			<a href="@{Usuarios.detalhar(usuario.id)}" class="link">DETALHAR</a>
	      			<a href="@{Usuarios.editar(usuario.id)}" class="link">EDITAR</a>
	      			<a href="@{Usuarios.remover(usuario.id)}" class="link">REMOVER</a>
	      		</td>
	      	</tr>
	      	#{/list}
		</tbody>
	</table>
	
	<a href="@{Usuarios.cadastrar}" class="link">Novo Usuário</a>
	<a href="@{Principal.iniciar}" class="link">Voltar</a>
</div>