#{extends 'main.html' /}
#{set title: 'Cadastro de Livro' /}

<div class="cadastro">
	<h1>CADASTRO</h1>
	<br />
	<form action="@{Livros.salvar}" method="post">
		<input type="hidden" name="livro.id" value="${livro?.id}" /> 
		
		<input type="text" name="livro.nome" value="${livro?.nome}" placeholder="Nome" class="form-control" />
		<br />
		
		<input type="text" name="livro.autor"value="${livro?.autor}" placeholder="Autor" class="form-control" /> 
		<br />
		
		<input type="text" name="livro.idioma" value="${livro?.idioma}" placeholder="Idioma" class="form-control" /> 
		<br />
		 
		<select name="livro.categoria.id" class="form-select" aria-label="Default select example">
			<option>Categorias</option>
			#{list items:categorias, as:'cat'}
				<option value="${cat.id}" ${cat.id == livro?.categoria?.id ? 'selected' : ''}>${cat}</option>
			#{/list}
		</select>
		<br /> 
		
		<input type="date" name="livro.dataPublicacao" value="${livro?.dataPublicacao}" class="form-control" /> 
		<br /> 
		
		<input type="number" name="livro.qtdPaginas" value="${livro?.qtdPaginas}" placeholder="Quantidade de páginas" class="form-control" /> 
		<br />
		
		<input type="submit" value="Salvar" class="btn btn-primary" />
	</form>
</div>