#{extends 'main.html' /}
#{set title: 'Detalhamento de livro - OnLibrary' /}

<div class="container">
	
	<img src="@{Livros.uploadImagem(session.get('idLivro'))}"> 
	<h3>${livro.nome}</h3>
	
	<p>Autor: ${livro.autor}</p>
	<p>Categoria: ${livro.categoria}</p>
	<p>Publicação: ${livro.dataPublicacao.format('dd/MM/yyyy')}</p>
	<p>Idioma: ${livro.idioma}</p>
	<p>Páginas: ${livro.qtdPaginas}</p>
	
	#{if session.get('usuario')}
		<a class="pdf" href="@{Livros.uploadImagem(session.get('idLivro'))}" download>Baixar PDF</a>
	#{/if}
</div>