#{extends 'main.html' /}
#{set title:'Livros - OnLibrary' /}

<div class="container">
	<form action="@{Livros.listar}">
		<div class="input-group mb-3">
		  <input type="text" class="form-control" name="termo" placeholder="Pesquise aqui" aria-label="Recipient's username" aria-describedby="button-addon2">
		  <input class="btn btn-outline-secondary" value="Pesquisar" type="submit" id="button-addon2" />
		</div>
	</form>
	<br />
	<hr class="border-bottom border-secondary"/>
	
	<table>
		#{list items: livros, as: 'livro'}
		  <!-- First Photo Grid -->
		  <div class="w3-row-padding w3-padding-16 w3-center" id="livro">
		    <div class="w3-quarter">
		      <img src="@{Livros.uploadImagem(livro.id)}" style="width:100%">
		      <h3>${livro.nome}</h3>
		    </div>
		  </div>
		#{/list}
	</table>
	
	#{if session.get('tipo') == session.get('adm')}
		<div class="d-grid gap-2">
			<a href="@{Cadastros.cadastrarLivro}" class="btn btn-secondary">Adiconar Novo Livro no Sistema</a>
		</div>
	#{/if}
</div>